* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* HEADER */

header {
    padding: 20px calc((100vw - 1000px) / 2);
    background-color: dodgerblue;
}

header h1 {
    padding-bottom: 40px;
    text-transform: uppercase;
}

header p {
    padding: 0;
    font-size: 24px;
    text-align: left;
}

header ul {
    padding: 0 50px;
    list-style: decimal;
    text-align: left;
}

header ul li {
    padding-top: 10px;
}

/* MAIN */

main {
padding: 30px 0;
min-width: 1000px;
}

main table {
    margin: 0 auto;
    border: 1px solid dodgerblue;
    text-align: center;
}

main table td {
    display: inline-block;
    border: none;
    width: 20px; 
    height: 20px;
}

main table a {
    display: block;
    line-height: 20px;
    background-color: #111;
}

main table a img {
    border: none;
    width: 20px;
    height: 20px;
}

main table a img:hover {
    filter: opacity(0.5);
}

main div.gameControls {
    margin: 0 auto;
    padding: 20px 0 40px;
    width: 1000px;
    text-align: center;
}

main div.gameControls input {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 15px;
    width: calc((1000px / 4) - (4 * 20px));
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

main div.gameControls input:hover {
    background-color: deepskyblue;
    border-color: deepskyblue;
    color: #111;
}